/* Header */

.header {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    gap: 15px;
    grid-template-columns: auto auto;

    max-width: 1043px;
    margin: 0 auto;
    padding: 30px 10px;
}

@media (max-width: 524px) {
    .header {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        justify-content: center;
    }
}

/* Logo */

.header__logo {
    display: flex;
    align-items: center;
}

@media (max-width: 524px) {
    .header__logo {
        justify-content: center;
    }
}

.header__logo img {
    width: 50x;
    height: 50px;
}

.header__logo span {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

/* List */

.header__list {
    display: flex;
    column-gap: 20px;
    row-gap: 5px;
    justify-content: end;
    flex-wrap: wrap;
}

@media (max-width: 524px) {
    .header__list {
        justify-content: center;
    }
}

/* Links */

.header__link {
    color: #fff;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 7px;

    background:
        linear-gradient(currentColor 0 0) var(--d, 201%) 100% /200% 3px no-repeat;
}

.header__link:hover {
    --d: -101%;
    transition: 0.5s
}