/* Letter */

.letter {
    max-width: 1043px;
    margin: 0 auto;
    padding: 100px 10px;

    text-align: center;
}

@media (max-width: 768px) {
    .letter {
        padding: 25px 10px;
    }
}

/* Paragraph */

.letter__paragraph {
    margin-top: 30px;
}

/* Form */

.letter__form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;

    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
    color: #22253B;

    margin-top: 30px;
}

@media (max-width: 600px) {
    .letter__form {
        grid-template-columns: auto;
        gap: 15px;
    }
}

.letter__form > * {
    border-radius: 15px;
    padding: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #22253B;
}

/* Button */

.letter__button {
    background-color: #8D5CF6;
    color: #fff;
}